.teste{
    background-color: rgb(92, 24, 24); /*cancelar hover*/
    background-color: rgb(148, 36, 36); /*cancelar*/
    background-color: #341bb3; /*hover*/
    background-color: #4222DB;
    background-color: #faf9dc;
    background-color: #28ac49; /*sucesso*/

    color: #73cef5;
}