.admLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.topoAdm{
    width: 100%;
    height: 20vh;
}

.mainAdm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.mainAdm input{
    width: 20%;
    height: 8%;
    border: none;
    border-bottom: 2px solid #4222DB;
    background-color: #faf9dc;
    font-size: 30px;
    color:  #4222DB;
    text-align: center;
}

.mainAdm input:focus{
    outline: none;
}

.mainAdm input::placeholder{
    color: rgba(10, 10, 10, 0.1);
    font-style: italic;
}

.mainAdm label{
    font-size: 20px;
    width: 80%;
    margin-left: -10px;
    color:  #4222DB;
}

.mainAdm button{
    margin-top: 40px;
    background-color:  #4222DB;
    width: 200px;
    padding: 10px;
    color:  #faf9dc;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.mainAdm button:hover{
    background-color:  #341bb3;
}

.rodapeAdm a{
text-decoration: none;
}