.relatorios{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relGeral{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relatorios-opcoes {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relatorios-opcoes button{
    margin-top: 10px;
    background-color: #4222DB;
    width: 400px;
    color: #faf9dc;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-size: 20px;
}

.relatorios-opcoes button:hover{
    background-color: #341bb3;
}

#bt-re-voltar{
    margin-top: 10px;
    background-color: rgb(148, 36, 36);;
    width: 400px;
    color: #faf9dc;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-size: 20px;
}
#bt-re-voltar:hover{
    background-color: rgb(92, 24, 24);;
}

.relatorios-opcoes-chave{
    width: 100%;
    height: 100vh;
}
.relatorios-opcoes-chave ol{
    text-align: left;
}

.relatorios-chaves{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relatorios-chaves p{
    font-size: 2em;
    margin: 0;
}

#chaveNome{
    text-transform: uppercase;
    font-weight: bold;
}

#chaveNumber{
    font-size: 6em ;
}


.relatorios-avs{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 50vh;
}


.slotAva{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nomeAv{
    font-weight: bold;
    text-transform: uppercase;
}
.slotAva p{
    margin: 0px;
}
.slotAva h2{
    margin: 0px;
}

.infoAv{
    font-size: 15px;
}